/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
    --main-color: #000028;
    --theme-color: #FF0070;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --main-header-color: #DB00FF;
    --main-margin: 10px;
    --text-color-background: #000028;
    --backgroud-url: url("../images/cover-image-dark.png");
}

.theme-dark .page {
}
