/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --main-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --main-header-color: #FFC2E6;
    --main-margin: 10px;
    --text-color-background: #353430;
    --backgroud-url: url("../images/cover-image-light.png");
}

.theme-light .page {
    --backgroud-url: url("../images/cover-image-light.png");
}

.theme-light .empty {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-color: #FFF1F7;
        --accent-color: #FF8DCB;
        --text-color: #353430;
        --main-header-color: #FFC2E6;
        --main-margin: 10px;
        --text-color-background: #000028;
        --backgroud-url: url("../images/cover-image-light.png");
    }

    .theme-auto .empty {
        display: none;
    }
}
