
.page {
    margin: var(--main-margin);
    background-color: var(--main-color);
    background-image: var(--backgroud-url);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
}

.header {
    display: grid;
    grid-template-columns: minmax(355px, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 55px;
    position: relative;
}

.header__theme-menu {
    display: flex;
    justify-content: flex-end;
    color: var(--accent-color);
}

.header__theme-menu-list {
    margin-block-start: 75px;
}

.header__theme-menu-button {
    background-color: transparent;
    border: none;
    display: flex;
    margin: var(--main-margin);
}

.header__theme-menu-button:disabled {
    outline: 1px solid var(--accent-color);
}

.decorated-zone:before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    position: absolute;
    right: 0;
}

.decorated-zone:after {
    content: '';
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--accent-color);
    border-left: 1px solid var(--accent-color);
    position: absolute;
    bottom: 0;
    left: 0;
}


.empty {
    color: var(--accent-color);
    position: absolute;
    right: 38px;
}

.empty:after {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    box-shadow: 0 0 5px 1px var(--accent-color);
    right: -19px;
    top: 8px;
}

.page__section {
    display: grid;
    gap: 55px;
}

.title_decor {
    background-color: var(--accent-color);
    color: var(--text-color-background);
    font-weight: 700;
}


.page__section__header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    color: var(--main-header-color);
    text-shadow: 5px 3px var(--accent-color);
    line-height: 96px;
}

@media (width >= 600px) {
    .page__section__header {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }
}

.page__section__content_text {
    color: var(--text-color-background);
    font-weight: 700;
}

.page__main_header {
    color: var(--accent-color);
}

.page__main_content {
    color: var(--text-color);
}

.page__main .page__main_header {
    margin-block-start: 50px;
    margin-block-end: 20px;
}

.page__main .page__main_title {
    margin-block-end: 10px;
}

.page__main .page__main_content {
    margin-block-end: 20px;
}

.page__main h4 {
    font-weight: 400;
}

.page__main_blocks .page__main_content:last-child {
    margin-block-end: 50px;
}

.page__main_content_gallery {
    display: grid;
    grid-template-columns: minmax(355px, 1fr);
    gap: 10px;
}

.page__main_content-image {
    display: block;
    width: 100%;
}

.page__main_content_gallery .page__main_content-image-container:last-child {
    margin-block-end: 40px;
}

.page___footer {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    height: max(668px);
}

.page___footer_header {
    align-self: center;
    color: var(--main-header-color);
    text-shadow: 5px 3px var(--accent-color);
    line-height: 96px;
}


@media (width >= 768px) {


}


@media (width >= 1024px) {
    .header__theme-menu-list {
        display: flex;
        margin: 0;
    }

    .header__theme-menu {
        justify-content: center;
    }
}

