/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
    --main-color: #000028;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --main-header-color: #DB00FF;
    --main-margin: 10px;
    --text-color-background: #000028;
}